<h3>Galería</h3>
<div class="center">
<div class="row">
<% @galeries.each do |galery| %>
  <div class="col-md-3">
    <div class="thumbnail">
    <%= image_tag galery.image.url %>
      <div class="caption">
        <h3><%= galery.name %></h3>
        <p><%= galery.description %></p>
        <%= link_to 'Show', galery, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_galery_path(galery), class: "btn btn-link" %>
            <%= link_to 'Destroy', galery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
      </div>
    </div>
  </div>  
  <% end %>
</div>
</div>



  <%= link_to 'New Galery', new_galery_path, class: "btn btn-link" %>