

<div class="container">
	<h1 class="page_title"> Contáctanos!</h1>
		<%= form_for @contact do |f| %>
			<% if @contact.errors.full_messages.any? %>
  				<% @contact.errors.full_messages.each do |error_message| %>
  				<div class="alert alert-danger" role="alert">
  					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  					<span class="sr-only">Error:</span>
  					<%= error_message  %> 
				</div>
 				 <% end %>				
			<% end %>
			<%= f.label :Nombre  %><br>
			<%= f.text_field :name, class: "form-control", required: true %>

			<br>

			<%= f.label :Correo %><br>
			<%= f.text_field :email, class: "form-control", required: true %>

			<br>

			<%= f.label :Mobil %><br>
			<%= f.text_field :number, class: "form-control", required: true %>

			<br>

			<%= f.label :Mensaje %><br>
			<%= f.text_area :message, class: "form-control", as: :text %>

			<br>

			<div class="hidden">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname, class: "form-control",  hint: 'Leave this filed blank' %>
			</div>

			<%= f.submit 'Enviar Mensaje', class: "btn btn-primary"%>

		<% end %>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.348632626699!2d-68.3858584859911!3d18.55831467286448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea893d541c83c23%3A0xf9b13f8097de0e8f!2sBlueMall+Puntacana!5e0!3m2!1sen!2sdo!4v1515537029569" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><br>
	    	<strong>Dirección:</strong><p class="dir">Boulevard turístico, esquina Carretera Juanillo, Blue Mall, Punta Cana, República Dominicana.</p>
	    	<p><strong>Teléf:</strong> (809) 784-4141</br>
	    	<strong>E-mail:</strong> saffronpuntacana@gmail.com</p> 
</div>
